.navbar {
  background: linear-gradient(#3f55c8, #583fc8);
  width: 80%;
  /* min-height: 42rem; */
  margin: 1rem 0;
  margin-left: 2.5rem;
  border-radius: 2rem;
  grid-row: 1/3;
  grid-column: 1;
}

.nav__links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.nav__links a {
  width: 8rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #a5a5e4;
  font-size: 1.1rem;
}

.nav__links a.active {
  color: white;
  font-weight: bold;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(221, 221, 221, 0.4);
}

.nav__link span {
  position: absolute;
  left: 9rem;
}

.icon {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 2rem;
  border-radius: 100% 0 0 100%;
  background-color: #ffffff;
  color: #9a9a9a;
}
